@import './variables/colors';

#contact {
    padding: 5rem 8rem;

    .contact-txt {
        padding-top: 50px;

        h3 {
            font: {
                size: 2rem;
            }
        }

        hr {
            width: 1.2rem;
            opacity: 60%;
            transform: rotate(90deg);
            position: relative;
            bottom: 1.1rem;
            left: 8rem;
        }

        p {
            position: relative;
            bottom: 1.8rem;
            left: 10rem;
        }
    }

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px;

        input {
            padding: 10px;
            background-color: rgb(225, 225, 225);
            border: none;
        }

        textarea {
            height: 20vh;
            width: 100%;
            resize: none;
            padding: 10px;
            background-color: rgb(225, 225, 225);
            border: none;

            grid-column: 1/-1;
        }

        button {
            width: 60%;
            padding: 15px;
            color: white;
            background-color: $lightBlue;
            font: {
                size: 1.2rem;
            }
            border: none;
            cursor: pointer;
            transition-duration: 0.3s;

            grid-column: 1/2;

            &:hover {
                color: black;
                background: none;
                border: 1px solid black;
            }
        }
    }
}

/* --------------- TABLET --------------- */
@media only screen and (max-width: 1096px) {
    #contact {   
        .contact-txt {
            padding-top: 50px;
    
            h3 {
                padding-bottom: 10px;
            }
    
            hr {
                width: 100%;
                transform: rotate(0deg);
                position: static;
            }
    
            p {
                padding: 10px 0;
                position: static;
            }
        }

        form {
            grid-template-columns: 1fr;
        }
    }
}

/* --------------- MOBILE --------------- */
@media only screen and (max-width: 600px) {
    #contact {
        padding: 2rem;

        .contact-txt {
            padding-top: 50px;
    
            h3 {
                padding-bottom: 10px;
            }
    
            hr {
                width: 100%;
                transform: rotate(0deg);
                position: static;
            }
    
            p {
                padding: 10px 0;
                position: static;
            }
        }

        form {
            grid-template-columns: 1fr;

            button {
                width: 100%;
            }
        }
    }
}