@import './variables/colors';

#loginContainer {
  padding: 50px 0;

  display: flex;
  justify-content: center;

  form {
    width: 50vw;
    padding: 40px;
    box-shadow: 5px 5px 20px 2px #888888;
    text-align: center;

    h1 {
      padding-bottom: 20px;
      font-size: 2.5em;
    }

    label {
      font-size: large;
    }

    input {
      width: 100%;
      margin: 5px 0 20px 0;
      padding: 5px;
      font-size: large;

      &:focus {
        outline: none;
        border: 2px solid $lightBlue;
      }
    }

    button {
      padding: 10px;
      color: #fff;
      background-color: $lightBlue;
      font-size: large;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #12a4a2;
      }
    }
  }
}

/* --------------- TABLET --------------- */
@media only screen and (max-width: 992px) {
  #login {
    form {
      width: 80vw;
    }
  }
}

/* --------------- MOBILE --------------- */
@media only screen and (max-width: 600px) {
  #login {
    padding: 0;

    form {
      width: 100vw;
      box-shadow: none;
    }
  }
}
