@import './variables/colors';

#tour {
    padding: 5rem 8rem;

    .tour-container {
        display: flex;
        gap: 60px;

        .tour-img-container {
            width: 60%;

                img {
                    width: 100%;
                    margin-bottom: 40px;
                }
        }

        .tour-content {
            width: 40%;

            h1 {
                padding-bottom: 20px;
                font: {
                    size: 1.6rem;
                }
            }

            .blue-underline {
                height: 4px;
                width: 4rem;
                margin-bottom: 10px;
                background-color: $lightBlue;
                border: none;
            }

            h2 {
                padding-bottom: 20px;
                color: grey;
                font: {
                    size: 1rem;
                    weight: 100;
                }
            }

            p {
                padding-bottom: 20px;
                color: grey;
                font: {
                    size: 1rem;
                }

                &:nth-last-of-type(1) {
                    padding: 0;
                }
            }

            hr:not(.blue-underline) {
                margin: 20px 0;
            }

            h3 {
                padding-bottom: 10px;
                font: {
                    size: 1rem;
                }

                div {
                    font: {
                        size: 1rem;
                        weight: 100;
                    }
                    display: inline;
                }
            }

            .social-media-tour {
                h4 {
                    font: {
                        size: 1.2rem;
                        weight: 100;
                    }
                    text-transform: uppercase;
                }

                a {
                  padding: 5px;
                  color: black;
                  font: {
                    size: 1rem;
                  }
                  transition-duration: 0.3s;
                  transition-timing-function: linear;
            
                  &:hover {
                    color: $lightBlue;
                  }
                }
              }

        }

        span {
                height: 60px;
                width: 100px;
                color: white;
                background: linear-gradient(38deg, transparent 15px, $lightBlue 0); // Cuts of the left-bottom corner
                font: {
                    size: 1.2rem;
                }
                position: relative;
                right: 0rem;
                filter: brightness(90%);
        
                display: flex;
                justify-content: center;
                align-items: center;
        
        }
    }
}

/* --------------- TABLET > DEKSTOP --------------- */
@media only screen and (max-width: 1300px) {
    #tour {  
        .tour-container {
            flex-direction: column;

            .tour-img-container {
                width: 100%;

                display: flex;
                justify-content: space-between;
    
                img {
                    height: 400px;
                    width: 48%;
                    margin-bottom: 0;
                    object-fit: cover;
                }
            }

            .tour-content {
                width: 100%;
            }

            span {
                position: absolute;
                bottom: 23rem;
                right: 8rem;
            }
        }
    }
}

/* --------------- TABLET --------------- */
@media only screen and (max-width: 996px) {
    #tour {
        .tour-container {
            .tour-img-container {
                flex-direction: column;
    
                img {
                    max-height: 500px;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            span {
                top: 68rem;
                right: 8rem;
            }
        }
    }
}

/* --------------- MOBILE --------------- */
@media only screen and (max-width: 600px) {
    #tour {
        padding: 2rem;

        .tour-container {
            text-align: center;

            .tour-content {
                padding: 0 3rem;

                display: grid;

                .blue-underline {
                    justify-self: center;
                }
            }

            span {
                top: 65rem;
                right: 2rem;
            }
        }
    }
}