#adminTours {
  padding: 50px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  #adminToursContent {
    width: 50vw;
    padding: 40px;
    box-shadow: 5px 5px 20px 2px #888888;
    text-align: center;

    display: grid;

    #addTour {
      font-size: 1.8rem;
      justify-self: end;
    }

    h1 {
      padding-bottom: 10px;
      
      position: relative;
      right: 34px;
    }

    .tours-gr {
      align-items: center;

      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;

      p {
        padding: 10px 20px;
        display: none;

        &:nth-of-type(1) {
          display: block;
        }
      }

      hr {
        margin: 10px 0;

        grid-column: 1/-1;
      }
    }
  }
}

/* --------------- TABLET --------------- */
@media only screen and (max-width: 992px) {
  #adminTours {
    #adminToursContent {
      width: 80vw;
    }
  }
}

/* --------------- MOBILE --------------- */
@media only screen and (max-width: 600px) {
  #adminTours {
    padding: 0;

    #adminToursContent {
      width: 100vw;
      box-shadow: none;

      .tours-gr {
        a {
          padding: 10px 0;
          display: block;
        }
      }
    }
  }
}
